[submodule "frontend"]
	path = frontend
	url = git@github.com:ml-lab-htw/iterative-annotate-frontend.git
	branch = mono-version
[submodule "backend"]
	path = backend
	url = git@github.com:ml-lab-htw/iterative-annotate-backend.git
	branch = mono-version
