[submodule "frontend"]
	path = frontend
	url = https://github.com/ml-lab-htw/iterative-annotate-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/ml-lab-htw/iterative-annotate-backend
